/* ALL */

li {
  list-style: none;
}

/* ORGANIZATION HEADER */

.grid-row img {
  height: 5rem
}

#organizationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#organizationHeader .usa-input {
  min-width: 20rem;
}

/* ORGANIZATION INFO */

.usa-card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#organizationInfoCard {
  display: flex;
  flex-direction: column;
}

.usa-card__body span {
  margin: 0 2rem;
}

/* COMPLIANCE CARD */

.grid-container-card {
  display: flex;
  flex-direction: row;
}

.grid-container-card header {
  padding: 0;
}
