/* ORGANIZATION HEADER */

.grid-row img {
  height: 5rem
}

#organizationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#organizationHeader .usa-input {
  min-width: 20rem;
}

/* ORGANIZATION INFO */

#organizationInfoCard {
  display: flex;
  flex-direction: column;
}